<h1>Listing games</h1>

<table>
  <tr>
    <th>Game at</th>
    <th>Opponent</th>
    <th>Telivision</th>
    <th>Radio</th>
    <th>Location</th>
    <th>Away</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.game_at %></td>
    <td><%=h game.opponent %></td>
    <td><%=h game.telivision %></td>
    <td><%=h game.radio %></td>
    <td><%=h game.location %></td>
    <td><%=h game.away %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>