- content_for(:head) do
	%link{:rel => 'alternative', :type => "application/rss+xml", :title => "Arethedodgersplayingtonight.com XML Feed", :href => games_url(:format => 'xml')}

#prompt
	Are The Dodgers Playing Tonight?

- if @current_game
	#answer
		YES
	= "First pitch at #{@current_game.game_at.strftime("%I:%M")} Pacific versus #{@current_game.opponent}"
- else
	#answer
		NO

- if @next_game
	#next_game
		Next game
		= "on #{@next_game.game_at.strftime("%m/%d/%y %I:%M")} pacific versus #{@next_game.opponent} at #{@next_game.location}"