!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title Are The Dodgers Playing Tonight?
		= stylesheet_link_tag "application"
		%meta{:name => 'google-site-verification', :content => "Mo1wj2fKfpC_VLlzHLYF9FX6oVWvKtOdki91oQsTXr8"}
		= yield(:head)
	%body
		#main
			= yield
			
			#footer
				= "#{link_to("Dodgers Schedule", "http://losangeles.dodgers.mlb.com/schedule/index.jsp")} | #{link_to('Dodgers Official Website', 'http://www.dodgers.com')}"
		= render :partial => 'common/google_analytics'